{% extends 'base.html' %}

{% block title %}
    <title>IMPORT SCORSESE</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Интернет магазин</h1>
      <p class="fs-5 text-body-secondary">Прайс на нашу продукцию</p>
    </div>
    <div class="py-2 text-center container">
        <h1 class="fw-light">Наши товары</h1>
        <p class="lead text-body-secondary">Здесь Вы можете ознакомиться с ценами</p>
    </div>
    {{ data }}
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          {% for elem in data %}
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Товар</text></svg>
            <div class="card-body">
              <p class="card-text">Краткое описание товара</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Товар</text></svg>
            <div class="card-body">
              <p class="card-text">Краткое описание товара</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Товар</text></svg>
            <div class="card-body">
              <p class="card-text">Краткое описание товара</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Товар</text></svg>
            <div class="card-body">
              <p class="card-text">Краткое описание товара</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Товар</text></svg>
            <div class="card-body">
              <p class="card-text">Краткое описание товара</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Товар</text></svg>
            <div class="card-body">
              <p class="card-text">Краткое описание товара</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Подробнее</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">В корзину</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}